/* ==========================================================================
   Scorer
   ========================================================================== */

  .col {
    min-width: 20vw;
    max-width: 20vw;
    min-height: 85vh;
    background: #e5e5e5;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 15px;
  }

  .col * {
    font-size: 32px;
  }

  .col div {
    margin-left: auto;
    margin-right: auto;

  }

  .col-header {
    min-height: 6.5625vh;
    max-height: 6.5625vh;
    padding-bottom: 10px !important;
  }

  .col-header img {
    max-height: 6.5625vh;
    padding: 0 10px;
  }

  .col-cell,
  .col-cell input,
  .col-cell button {
    min-width: calc(20vw - 20px);
    max-width: calc(20vw - 20px);
    min-height: calc(6.25vh - 10px);
    max-height: calc(6.25vh - 10px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
        margin: 5px 0 5px 0;
  }

  .col-empty {
    min-width: calc(20vw - 20px);
    max-width: calc(20vw - 20px);
    min-height: calc((6.25vh - 10px) / 2);
    max-height: calc((6.25vh - 10px) / 2);
  }

  .col-categories img {
    max-height: calc(6.25vh - 10px);
  }

  .col-cell input,
  .col-cell button {
    text-align: center;
    border: 0;
    padding: 1px;
  }

  .col-total {
    line-height: calc(6.25vh - 10px);
  }

  .col-categories {
    left: 0;
  }

  .cell-blue {
    left: 20vw;
    background: #cddfe4;
  }

  .cell-pink {
    left: 40vw;
    background: #f7deea;
  }

  .cell-blac {
    left: 60vw;
    background: #d6d9d9;
  }

  .cell-oran {
    left: 80vw;
    background: #f0dbcc;
  }

  .col-blue input,
  .col-blue button,
  .p-blue {
    background: #aed9da;
  }

  .col-pink input,
  .col-pink button,
  .p-pink {
    background: #f7c8de;
  }

  .col-blac input,
  .col-blac button,
  .p-black {
    background: #afb1b1;
  }

  .col-oran input,
  .col-oran button,
  .p-orange {
    background: #f0cbaf;
  }

  .t-blue {
    background: #69b8b8;
  }

  .t-pink {
    background: #f49bd2;
  }

  .t-black {
    background: #919393;
  }

  .t-orange {
    background: #e5b391;
  }

  .total {
    font-weight: 700;
    font-size: 32px;
    line-height: calc(6.25vh - 10px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 10px;
  }

  .nav {
    width: calc(100vw - 20px);
    text-align: center;
    position: absolute;
    bottom: 0vh;
    left:0;
    right:0;
    margin: 10px;
  }

  .nav-djinns {
    bottom: 20vh;
  }

  .nav-items {
    bottom: 48vh;
  }

  .nav-merch {
    bottom: 12vh;
  }

/* =====================
   Pop-Ups
   ===================== */

  .popup {
    position: absolute !important;
    right: 0;
    left: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 85vh;
    max-height: 85vh;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    top: 0;
    z-index: 9;
    display: none;
  }

  .popup-overlay {
    z-index: 8 !important;
  }
