_BUILDER/
.DS_Store
*.DS_Store
*/.DS_Store

index-backup.html
index-beforeknockout.html
js/main - Copy.js
js/main-backup.js
js/to refactor (remaining).js
css/main - backup 11-07.css
css/main - backup.css
css/main - Copy.css
css/scorer-backup.css