/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

}
html { 
  box-sizing: border-box;
} 

*, *:before, *:after { 
  box-sizing: inherit; 
}

* img {
  max-width:100%;
  height: auto;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

::-webkit-input-placeholder { /* Safari, Chrome and Opera */
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:placeholder-shown { /* Standard one last! */
  color: #000;
}

/* ==========================================================================
   Page General
   ========================================================================== */
  
  * {
    font-family: 'Taviraj', serif;
    font-weight: 400;
    font-size: 32px;
  }

  a {
    color: #428bca;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }

  a:active {
    color: #3071a9;
  }
  
  .button:focus {
    outline:0;
  }

  .fullscreen {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background: green;
  }

  .btn {
    min-width: calc(20vw - 30px);
    max-width: calc(20vw - 30px);
    min-height: calc(6.25vh - 10px);
    max-height: calc(6.25vh - 10px);
    border-radius: 5px;
    -webkit-border-radius: 10px;
    background: #b09d78;
    border: 0;
  }

  .btn-2 {
    min-width: calc(40vw - 30px);
    max-width: calc(40vw - 30px);
  }

  .btn-alt {
    background: #c2b69e;
  }

  .btn-negative {
    background: #F15959 !important;
  }

  .btn-disabled {
    background: #D7D2C9 !important;
  }

/* ==========================================================================
   HEADER & FOOTER
   ========================================================================== */
   
  header,
  footer {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    min-height: 7vh;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  header {
    top: 0;
    min-height: 7vh;
    max-height: 7vh;
    background: #000;   
  }

  header img {
    max-height: 6vh;
    margin: .5vh auto;
  }

  footer {
    bottom: 0;
    display: table;
    min-height: 8vh;
    max-height: 8vh;
    width: 100%;
    padding: 0;
    table-layout: fixed;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    background: #fff;
  }

  footer .bar-item {
    display: table-cell;
    width: 1%;
    height: 50px;
    color: #929292;
    text-align: center;
    vertical-align: middle;
  }
  footer .bar-item.active, .bar-tab .bar-item:active {
    color: #428bca;
  }
  footer .bar-item .icon {
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
  }
  footer .bar-item .icon ~ .bar-label {
    display: block;
    font-size: 32px;
  }

  .icon {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    text-decoration: none;

    -webkit-font-smoothing: antialiased;
  }


/* ==========================================================================
   Screens
   ========================================================================== */
  
  .screen {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    min-height: 85vh;
    max-height: 85vh;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    top: 7vh;
    background: #e5e5e5;
  }

  .screen-1 {
    left: 0;
  }

  .screen-2, .screen-3 {
    left: 100vw;
  }

/* ==========================================================================
   Scorer
   ========================================================================== */

  .col {
    min-width: 20vw;
    max-width: 20vw;
    min-height: 85vh;
    background: #e5e5e5;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 15px;
  }

  .col div {
    padding: 0 10px 10px 10px
  }

  .col-header {
    min-height: 6.5625vh;
    max-height: 6.5625vh;
    padding-bottom: 10px !important;
  }

  .col-header img {
    max-height: 6.5625vh;
  }

  .col-cell, 
  .col-cell input,
  .col-cell button {
    min-width: calc(20vw - 20px);
    max-width: calc(20vw - 20px);
    min-height: calc(6.25vh - 10px);
    max-height: calc(6.25vh - 10px);
    border-radius: 5px;
    -webkit-border-radius: 10px;
  }

  .col-empty {
    min-width: calc(20vw - 20px);
    max-width: calc(20vw - 20px);
    min-height: calc((6.25vh - 10px) / 2);
    max-height: calc((6.25vh - 10px) / 2);
  }

  .col-categories img {
    max-height: calc(6.25vh - 10px);
  } 

  .col-cell input,
  .col-cell button {
    text-align: center;
    border: 0;
    padding: 1px;
  }

  .col-total {
    line-height: calc(6.25vh - 10px);
  }

  .col-categories {
    left: 0;
  }
  
  .col-blue {
    left: 20vw;
    background: #cddfe4;
  }

  .col-pink {
    left: 40vw;
    background: #f7deea;
  }

  .col-blac {
    left: 60vw;
    background: #d6d9d9;
  }

  .col-oran {
    left: 80vw;
    background: #f0dbcc;
  }
  
  .col-blue input,
  .col-blue button,
  .p-blue {
    background: #aed9da;
  }

  .col-pink input,
  .col-pink button,
  .p-pink {
    background: #f7c8de;
  }

  .col-blac input,
  .col-blac button,
  .p-black {
    background: #afb1b1;
  }

  .col-oran input,
  .col-oran button,
  .p-orange {
    background: #f0cbaf;
  }
  
  .t-blue {
    background: #69b8b8;
  }

  .t-pink {
    background: #f49bd2;
  }

  .t-black {
    background: #919393;
  }

  .t-orange {
    background: #e5b391;
  }

  .total {
    font-weight: 700;
    font-size: 32px;
    line-height: calc(6.25vh - 10px);
  }

  .nav {
    width: calc(100vw - 20px);
    text-align: center;
    position: absolute;
    bottom: 0vh;
    left:0;
    right:0;
    margin: 10px;    
  }

  .nav-djinns {
    bottom: 20vh;
  }

  .nav-items {
    bottom: 48vh;
  }

  .nav-merch {
    bottom: 12vh;
  }

/* =====================
   Pop-Ups
   ===================== */
  
  .popup {
    position: absolute !important;
    right: 0;
    left: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 85vh;
    max-height: 85vh;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    top: 0;
    z-index: 9;
  }

  .popup-overlay {
    z-index: 8 !important;
  }

 /* ==========================================================================
   Solitaire
   ========================================================================== */
  
.screen-2 {
  text-align: center;  
}

.solo-start {
  display: inline-block;
}

#solo-grid {
  max-width: 78vw;
  max-height: 78vh;
  background: #ede3c5;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 20px;
}

.solo-cell {
  min-width: calc((90vw / 6) - 30px);
  max-width: calc((90vw / 6) - 30px);
  min-height: calc((90vw / 6) - 30px);
  max-height: calc((90vw / 6) - 30px);
  background: #d3bd79;
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: calc((90vw / 6) - 30px);
}

.solo-cell-active {
  color: #fff;
  animation: blink 2s infinite;
}

@keyframes blink {
  0% {
    background: rgba(255,65,54,1);
  }
  80% {
    background: rgba(255,65,54,.25);
  }
  100% {
    background: rgba(255,65,54,1);
  }
}

.solo-cell-yazid,
.solo-hint-yazid {
  background: #F159BA;
}

.solo-cell-player,
.solo-hint-player {
  background: #06918D;
}

.solo-cell-chasm,
.solo-hint-chasm {
  background: #231E1D;
}

.solo-hint {
  width: 100vw;
  min-height: 3vh;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 8vh;
  z-index: 15;
  font-size: 24px;
  line-height: 3vh;
  color: #fff;
}

.solo-hint-alert {
  background: #F15959;
}

.screen-2 .icon {
    display: inline;
    font-size: 36px;
    line-height: 1;
    text-decoration: none;
    color: #000;
    -webkit-font-smoothing: antialiased;
}
.instructions {
  width: 90vw;
  height: 60vh;
  overflow-y: scroll;
  margin: 0 auto;
  margin-bottom: 20px;
}

.instructions * {
  text-align: left
}

.instructions h3 {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}

.instructions .important {
  font-style: italic;
  color: #ff0000;
}

.instructions .yellow {
  color: yellow;
}

.instructions .red {
  color: red;
}

.instructions .green {
  color: green;
}

.instructions .blue {
  color: blue;
}

.instructions .purple {
  color: purple;
}

.instructions .grey {
  color: grey;
}




/* ==========================================================================
   ???
   ========================================================================== */


   
  
  
  



  











/* ==========================================================================
   Media Queries
   ========================================================================== */

   @media only screen and (min-width: 35em) {

   }

   @media print,
   (-o-min-device-pixel-ratio: 5/4),
   (-webkit-min-device-pixel-ratio: 1.25),
   (min-resolution: 120dpi) {

   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

   .hidden {
    display: none !important;
    visibility: hidden;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  .invisible {
    visibility: hidden;
  }

  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    *zoom: 1;
  }

/* ==========================================================================
   Print styles
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: " (" attr(href) ")";
    }

    abbr[title]:after {
      content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    thead {
      display: table-header-group;
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      max-width: 100% !important;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }